Package: com.lunesp.airborne
Name: airborne
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Depends: firmware (>= 11.0), mobilesubstrate (>= 0.9.5100)
Maintainer: null
Author: null
Section: Tweaks
